<mat-toolbar class="header">
  <button mat-icon-button class="example-icon" (click)="openMenuEmitter()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Shop Search</span>
  <span class="example-spacer"></span>
  <a routerLink="/register" routerLinkActive="active" mat-button class="register-icon" >
    <mat-icon>login</mat-icon>
    Register
  </a>
  <a routerLink="/login" routerLinkActive="active" mat-button class="register-icon" >
    <mat-icon>login</mat-icon>
    Login
  </a>
</mat-toolbar>
